<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>호텔예약::로그인페이지</title>
</head>
<body bgcolor="FFFF99">
<center>

<span style="font-weight: bold; font-size: 2em; line-height: 1.0em; color: 660000; font-family: arial; ">
호텔 예약 사이트
</span>
<hr><br>
</center>

<br><br>

<form method = "post" action = "../ViewJSP/Login.jsp">
	E-mail : <input type = "text" name = "emailid" width = "50"><br><br>
	Password : <input type = "password" name = "password" width = "50"><br><br>
	<input type = "submit" value = "로그인"><br><br>
	<button type = "button" onclick = "document.location.href='SignUp.html';">회원가입</button><br><br>
</form>

</body>
</html>