<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body bgcolor="FFFF99">
<center>

<span style="font-weight: bold; font-size: 2em; line-height: 1.0em; color: 660000; font-family: arial; ">
객실 예약
</span>
</center>
	
<form action="../ViewJSP/Reservation.jsp" method="post">
	<h2>[객실 종류]</h2><br>
	<input type="radio" name="rdoRoom" value="1">수페리어<br>
	<input type="radio" name="rdoRoom" value="2">더블 수페리어<br>
	<input type="radio" name="rdoRoom" value="3">트윈 수페리어<br>
	<input type="radio" name="rdoRoom" value="4">디럭스<br>
	<input type="radio" name="rdoRoom" value="5">디럭스 풀<br>
	<input type="radio" name="rdoRoom" value="6">이그제큐디브<br>
	<input type="radio" name="rdoRoom" value="7">스위트<br>
	<input type="radio" name="rdoRoom" value="8">그랜드 스위트<br>

	<br><br>
	
	<h2>[숙박일]</h2><br>
	<span style="font-weight: bold; font-size: 1.0em; line-height: 1.0em; color: RED; font-family: arial; ">
	[체크인/아웃 날짜 입력방법]<br>
	</span>
	원하는 날짜 2017년 9월 9일 --> 20170909<br>
	체크인 20170909 <br>
	체크아웃 20170911<br>
	<br>
	체크인 : <input type = "text" name = "checkin" width = "50"><br><br>
	체크아웃 : <input type = "text" name = "checkout" width = "50"><br><br>
	<br><br>
	<input type = "submit" value = "예약하기"><br><br>
	<input type = "reset" value = "취소" onclick = "document.location.href='../View/Main.html';"/>
</form>


</body>
</html>